
@media screen and (max-width: 600px) {

  .actividades {
    font-size: 1.21rem !important;
  }
  .titulo-jb {
    font-size: 3rem !important;
  }

  h2#app{
    font-size: 1.5rem !important;
  }

  .grupo-button-1{
    font-size: 15px !important; 
  }

}

@media screen and (min-width: 601px) {
  .actividades {
    font-size: 1.45rem !important;
  }
  .titulo-jb {
    font-size: 4.5rem !important;
  }

  .grupo-button-1{
    font-size: 20px !important; 
  }
}

header nav{
    background-color: #F23A2E;
    color: #ffffff;
}

.nav-vertical{
    background-color: #000000;
    color: #ffffff;
}

footer{
    background-color: #1c1919;
    color: #ffffff;
}

html,body
{
height:100%;
}

.titulo-fenixmanises{
    color: #ffffff;
    font-weight: bold;
    font-size: 1.4rem !important;
    font-family: Verdana, sans-serif;
}


/* Eventos y header */

.eventos{
    color: #000000;
}

.nav-link {
  font-size: 0.83rem !important;
}

.nav-link.active{
    background-color: transparent !important;
}

/* General */

.texto-encabezado{
    width: 70%;
    text-align: justify;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 3%;

    font-size: 14px;
    font-family: Verdana;
    color: rgb(60, 60, 60);
    font-weight: bold;
}


/* Pagina equipos */

/* Seccion equipo */
.background-equipo{
    background: rgb(243, 243, 243);
}

.separador-top{
    visibility: hidden;
    margin-bottom: 2.5%;
}

.separador-bottom{
    visibility: hidden;
    margin-top: 2.5%;
}

/* Titulos y barras inferiores de Junta, Entrenador y Nadadores */
.titulo-seccion{
    margin: 0 auto;
    padding-top: 10%;
    color: rgb(68, 68, 68); 
    font-family: 'Open Sans Condensed', sans-serif; 
    font-size: 24px; 
    font-weight: 550; 
    line-height: 48px; 
    padding: 0 30px; 
    text-align: center; 
    text-transform: uppercase;

}

.titulo-seccion:after {
    content: ""; 
    display: block;
    margin: 0 auto;
    margin-bottom: 3%;
    width: 10%;
    padding-top: 2px;
    border-bottom: 2.5px solid #f23a2e;
}

/* Estilos de las imagenes */
.row-equipo{
    margin-top: 5%;
}

.img__wrap {
  margin: 0 auto;
  position: relative;
  height: 317px;
  width: 100%;
  max-width: 350px;
}

.img__img{
  height: 288px;
  width: 100%;
  max-width: 350px;
}

.img__title{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 289px;
    text-align: center;
    padding-top: 20%;
    background: rgba(223, 61, 61, 0.72);
    color: #fff;
    font-weight: bold;
    font-size: 28px;
    visibility: hidden;
    opacity: 0;

    transition: opacity .2s, visibility .2s;
}

.img__description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 40%;
    text-align: center;
    color: #fff;
    font-size: 18px;
    visibility: hidden;
    opacity: 0;

    transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description{
    visibility: visible;
    opacity: 1;
}

.img__wrap:hover .img__title{
    visibility: visible;
    opacity: 1;
}

/* Fin pagina equipos */



.text-white {
    color: #fff!important;
}


.carousel-indicators{
    z-index: 1;
}

#wrap
{
min-height: 100%;
padding-top: 70px;
}

main
{
overflow:auto;
}

.jumbotron-fluid{
    background-image: url(/img/jb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
    text-align: center;
}

.jumbotron-fluid h1{
    color: #fff;
    font-size: 45pt;
}

figure img {
    cursor: pointer;
    transition: 0.3s;
  }
  
  
  .modal {
    display: none; 
    position: fixed;
    padding-top: 15%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9);
  }

  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 600px;
    max-height: 700px;
    height: 80%;
  }
  

  .modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  

  .close {
    position: relative;
    top: 30px;
    left: 49%;
    float: unset;
    color: #f1f1f1;
    font-size: 90px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #F0050A;
    text-decoration: none;
    cursor: pointer;
  }
  

  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }


.nav-vertical a:link, .nav-vertical a:visited{
    color: #ffffff !important;
}
  
.nav-vertical a:hover, .nav-vertical a:active {
     color: #F0050A !important;
}


.card.eventos:hover{
    border-left: 5px;
    border-right: 5px;
    border-top: 0px;
    border-bottom: 0px;
    border-color: #F0050A;
    border-style: solid;
}

.header-eventos a{
    text-decoration: none;
    border-style: solid!important;
    border-width: 1px!important;
    
    height: 40px;

}

.header-eventos a:link, .header-eventos a:visited{
    color: #000000!important;
    background-color: rgba(0,0,0,.03) !important;
    border: rgba(0,0,0,.125)!important;
}

.header-eventos a:hover, .header-eventos a.active{
    color: #ffffff !important;
    background-color: #F0050A !important;
    border: #F0050A!important;
}

.rrss i:hover{
  color: #F0050A!important;
}

.muestras{
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-muestra1{
  background-image: url("/img/o.jpg");
}
.img-muestra2{
  background-image: url("/img/g.jpg");
}
.img-muestra3{
  background-image: url("/img/a.png");
}

/*
.carousel figure>img{
  width: 255px;
  height: 255px;

  min-width: 255px !important;
  max-width: 750px !important;
  min-height: 255px !important;
  max-height: 500px !important;
}
*/

.img-ajustado{
  height: 100vh;
  background-image: url(/img/p3.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: right;
}

.equipo{
  background-image: url("/img/jbe.jpg") !important;
}

.carousel-indicators li {
    background-color: #F0050A !important;
}
.carousel-indicators{
    position: inherit;
}


.vh-100{
height: 100vh;
}

/* Pagina Login */

.background-login{
  background-color: grey; 
  width: 100%;
  height: 100%;
}

.login-form{
  width: 100%;
  padding-top: 26px;
  padding-bottom: 26px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  z-index: 1;
}

.login-logo{
    height: 70px;
    width: 70px;
    background-size: cover;
    background-image: url(../img/logos/logo.jpg);
    margin-bottom: 5%;
    margin-left: -20%;
    margin-right: 20%;
    
}

@media screen and (max-width: 550px) {
  .login-title{
    font-size: 20px;
  }
}

@media screen and (min-width: 551px) {
  .login-title{
    font-size: 28px;
  }
}

.login-title{
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-left: 10%;
}

.login-input{
  width: 80%;
  margin-bottom: 4%;
  background-color: rgb(248, 248, 248);
  border: 0.25px solid rgb(235, 235, 235);
  border-bottom: 2px solid rgb(210, 210, 210);
}

.login-submit{
  width: 80%;
  background-color: #fa4a3d;
  color: rgb(138, 29, 29);
  font-weight: bold;
  font-size: 16px;
  border: 1px solid #f57168;
  border-top: 2px solid #f57168;
  border-bottom: 2px solid #f57168;
  text-transform: uppercase;
  margin-bottom: 5%;
}

.login-return{
  width: 80%;
  background-color: #fa4a3d;
  color: rgb(138, 29, 29);
  font-weight: bold;
  font-size: 16px;
  border: 1px solid #f57168;
  border-top: 2px solid #f57168;
  border-bottom: 2px solid #f57168;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.login-help{
  font-weight: normal;
  color: grey;
}

.login-href{
  text-decoration: none;
  color: #d83d32;
  font-weight: bold;
}

.login-href:hover{
  text-decoration: none;
  color: #d83d32;
  font-weight: bold;
}

#app{
  text-decoration: none;
  color:white;
  margin-left: 50%;
  margin-top: -25%;
}


table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
}

.app-table{
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 15px 4px rgba(204,204,204,1);
  -moz-box-shadow: 0px 0px 15px 4px rgba(204,204,204,1);
  box-shadow: 0px 0px 15px 4px rgba(204,204,204,1);
}

.app-th{
  background-color: #ff4133;
  color: white;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  font-size: 18px;
}

.app-td{
  color: rgb(80, 80, 80);
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
}

.app-tr:nth-child(odd){
  background-color: white;
}

.app-tr:nth-child(even){
  background-color: rgb(240, 240, 240);
}

.app-href{
  color: white;
}

.app-href:hover,.app-button-func1:hover, .app-button-func2:hover{
  color: black;
  text-decoration: none;
}

.app-button-func1{
  background-color: #ff5246;
  color: white;
  border: none;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(204,204,204,1);
  -moz-box-shadow: 0px 0px 5px 1px rgba(204,204,204,1);
  box-shadow: 0px 0px 5px 1px rgba(204,204,204,1);
}

.app-button-func2{
  background-color: #ff5246;
  color: white;
  border-radius: 10em;
  border: none;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(204,204,204,1);
  -moz-box-shadow: 0px 0px 5px 1px rgba(204,204,204,1);
  box-shadow: 0px 0px 5px 1px rgba(204,204,204,1);
}



.app-title:after {
  content: ""; 
  display: block;
  margin-bottom: 3%;
  width: 150px;
  padding-top: 2px;
  border-bottom: 2.5px solid #f23a2e;

  margin-bottom: 30px;
}


/* Botones y href */

.delete-button{
  background-color: #363636;
  color: white;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}

.delete-button:hover{
  color: white;
  font-weight: bold;
}

.atras-button{
  width: 100px;
  padding-top: 1%;
  padding-bottom: 1%;
  border-collapse: collapse;
  border-radius: 1em;
  border: none;
  background-color: #ff4133;
  text-align: center;
  font-family: Verdana, sans-serif;

  -webkit-box-shadow: 0px 0px 5px 1px rgba(204,204,204,1);
  -moz-box-shadow: 0px 0px 5px 1px rgba(204,204,204,1);
  box-shadow: 0px 0px 5px 1px rgba(204,204,204,1);

  margin-bottom: 20px;
}

.atras-button:hover{
  background-color: #e03e32;
}

.atras-href{
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: block;
}

.atras-href:hover{
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.app-button{
  width: 150px;
  padding-top: 1%;
  padding-bottom: 1%;
  border-collapse: collapse;
  border-radius: 1em;
  border: none;
  background-color: #ff4133;
  text-align: center;
  font-family: Verdana, sans-serif;

  -webkit-box-shadow: 0px 0px 5px 1px rgba(204,204,204,1);
  -moz-box-shadow: 0px 0px 5px 1px rgba(204,204,204,1);
  box-shadow: 0px 0px 5px 1px rgba(204,204,204,1);

  margin-bottom: 20px;
}

.app-button:hover{
  background-color: #e03e32;
}

.app-button-href{
  color: white !important;
  text-decoration: none !important;
  font-size: 18px;
  display: block;
}

.app-button-href:hover{
  color: white !important;
  text-decoration: none !important;
  font-size: 18px;
}



@media screen and (max-width: 650px) {

  .fc-toolbar h2 {
  font-size: 1.4em !important;
  }
  .fc-button{
    padding: 1px 6px !important;
  }

}

@media screen and (max-width: 650px) {

  .fc-toolbar h2 {
  font-size: 1em !important;
  }
  .fc-button{
    padding: 1px 6px !important;
    font-size: 0.8em !important;
  }
  form h1{
    font-size: 2em !important;
  }

}


/* Parte de grupos */

.grupo-container{
  margin-bottom: 50px;
}

.grupo-header {
  padding: 2%;
  border: none;
  border-top: 5px solid #cf3429;
  border-left: 4px solid #cf3429;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  background-color: #ff4133;
}

.grupo-href-1{
  color: white;
}

.grupo-href-1:hover{
  color: white;
  text-decoration: none;
}

.grupo-href-2{
  color: white;
}

.grupo-href-2:hover{
  color: white;
  text-decoration: none;
}

.grupo-button-1{
  background-color: #ff4133;
  font-weight: bold;
  border: none;
  font-size: 20px;
  font-family: Verdana, sans-serif;
}

.grupo-button-2{
  background-color: #ff5246;
  border-radius: 1em;
}

.grupo-li:nth-child(odd){
  padding: 2%;
  padding-left: 3%;
  border-left: 4px solid #cf3429 !important;
  border-right: 1px solid lightgray;
  list-style: none;
  background-color: rgb(240, 240, 240);
}

.grupo-li:nth-child(even){
  padding: 2%;
  padding-left: 3%;
  border-left: 4px solid #cf3429 !important;
  border-right: 1px solid lightgray;
  list-style: none;
  background-color: white;
}

.grupo-li:last-child{
  border-bottom: 1px solid lightgray;
  border-bottom-right-radius: 1em;
}

.page-item.active .page-link , .list-group-item.active{
  background-color: #cf3429 !important;
  border-color: #cf3429 !important;
}
.activo-app {
    border: solid;
    border-color: #F23A2E;
}


